* {
    margin: 0;
    padding: 0;
}

body {
    background: #f8f3ed;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}