* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "KaiTi";
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
}

/* html {
  font-size: calc(100vw / 1900);
} */

.w {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}