* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 18px;
  font-family: 'KaiTi';
  background: url(./1.jpg) no-repeat;
  background-size: cover;
}

.w {
  width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}